<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>404 Страница не найдена | СТК-ПромБетон</title>
  <link rel="stylesheet" href="../front/build/css/styles.min.css">
  <link rel="stylesheet" href="../front/build/css/pages.min.css">
</head>
<body>

  <header class="header">
    <nav class="navbar">
      <div class="container container-fluid">
        <div class="row between-xs">
          
          <div class="col-xs-3">
            <div class="navbar-brand"><a href="#"><img src="../front/images/stk-prombeton.png" alt="СТК-ПромБетон"></a></div>
          </div>

          <div class="col-xs-8">
            <ul class="navbar-nav">
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Заказ</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Каталог</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Серии</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Доставка</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Реквизиты</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Контакты</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link navbar-nav-chart" href="#">Корзина</a></li>
            </ul>
          </div>

        </div>
      </div>
    </nav>

    <div class="contactbar">
      <div class="container container-fluid">

        <div class="row">
          <div class="col-xs-offset-1 col-xs-4 contactbar-search-wrap">
            <div class="contactbar-search">
              <input type="text" class="contactbar-search-field">
              <span class="contactbar-search-btn"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="col-xs-7">
            <ul class="contactbar-contacts">
              <li class="contactbar-contacts-item">СПб <a class="contactbar-contacts-link" href="tel:+78126557360">+7 (812) 655-73-60</a></li>
              <li class="contactbar-contacts-item">Мск <a class="contactbar-contacts-link" href="tel:+74996493379">+7 (499) 649-33-79</a></li>
              <li class="contactbar-contacts-item"><a class="contactbar-contacts-link" href="mailto:info@stroyprombeton.ru">info@stroyprombeton.ru</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="page-404">
    <section class="page-404-message">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-xs-12">

            <p class="page-404-nums">404</p>
            <h1 class="page-404-h1">Страница не найдена</h1>
            <p class="page-404-info">Такой страницы не существует. <a class="page-404-callus" href="#">Связаться с нами.</a></p>
            <a href="#" class="btn">На главную</a>

          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="footer">
    <div class="container container-fluid">
      <div class="row">

        <div class="col-xs-offset-1 col-xs-2">
          <div class="footer-list">
            <h3 class="footer-list-h3">ЗАКАЗ</h3>
            <ul>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Как оформить</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Доставка</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Наши объекты</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="footer-list">
            <h3 class="footer-list-h3">КАТАЛОГ</h3>
            <ul>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Дорожное строительство</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Общегражданское и&nbsp;промышленное строительство</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Строительство инженерных сетей</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Строительство энергетических объектов</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Серии</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-2">
          <div class="footer-list">
            <h3 class="footer-list-h3">О КОМПАНИИ</h3>
            <ul>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Производство</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Реквизиты</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Региональные филиалы</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Новости</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Контакты</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="footer-list footer-contacts">
            <ul class="vcard">
              <li class="footer-list-item footer-contacts-brand"><a href="#"><img src="../front/images/logo-stk-prombeton.svg" alt="СТК-ПромБетон"></a></li>
              <li class="footer-list-item tel"><span class="type">Санкт-Петербург</span> <a class="footer-list-link value" href="tel:+78126557360">8 (812) 655-73-60</a></li>
              <li class="footer-list-item tel"><span class="type">Москва</span> <a class="footer-list-link value" href="tel:+74996493379">8 (499) 649-33-79</a></li>
              <li class="footer-list-item footer-contacts-email email"><a class="footer-list-link" href="mailto:info@stroyprombeton.ru">info@stroyprombeton.ru</a></li>
              <li class="footer-list-item">Адрес офиса продаж:</li>
              <li class="footer-list-item"><address class="adr"><span class="locality">СПб</span>, <span class="street-address">пр.&nbsp;Елизарова&nbsp;38А, офис&nbsp;218</span></address></li>
              <li class="footer-list-item"><span class="workhours">пн-пт 9:00-18:00</span></li>
            </ul>
          </div>
        </div>

      </div>

      <div class="row footer-copy-row">
        <div class="col-xs-offset-1 col-xs-7">
          <div class="footer-copy">
            <p><small class="footer-copy-rights">Все права защищены. 2009-2016 ООО&nbsp;<b class="footer-copy-bold">«СТК-ПромБетон»</b> (Москва, Санкт-Петербург).</small></p>
            <p>Делаем сложные магазины. <a class="footer-copy-link" href="https://fidals.com">Fidals.com</a></p>
          </div>
        </div>
      </div>

    </div>
  </footer>

</body>
</html>
