<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Категория | СТК-ПромБетон</title>
  <link rel="stylesheet" href="../front/build/css/styles.min.css">
  <link rel="stylesheet" href="../front/build/css/pages.min.css">
</head>
<body>

  <header class="header">
    <nav class="navbar">
      <div class="container container-fluid">
        <div class="row between-xs">
          
          <div class="col-xs-3">
            <div class="navbar-brand">
              <a href="#">
                <img src="../front/build/images/stk-prombeton.png" alt="СТК-ПромБетон">
              </a>
            </div>
          </div>

          <div class="col-xs-8">
            <ul class="navbar-nav">
              <li class="navbar-nav-item">
                <a class="navbar-nav-link" href="#">Заказ</a>
              </li>
              <li class="navbar-nav-item">
                <a class="navbar-nav-link" href="#">Каталог</a>
              </li>
              <li class="navbar-nav-item">
                <a class="navbar-nav-link" href="#">Серии</a>
              </li>
              <li class="navbar-nav-item">
                <a class="navbar-nav-link" href="#">Доставка</a>
              </li>
              <li class="navbar-nav-item">
                <a class="navbar-nav-link" href="#">Реквизиты</a>
              </li>
              <li class="navbar-nav-item">
                <a class="navbar-nav-link" href="#">Контакты</a>
              </li>
              <li class="navbar-nav-item">
                <a class="navbar-nav-link navbar-nav-chart" href="#">Корзина</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </nav>

    <div class="contactbar">
      <div class="container container-fluid">

        <div class="row">
          <div class="col-xs-offset-1 col-xs-4 contactbar-search-wrap">
            <div class="contactbar-search">
              <input type="text" class="contactbar-search-field">
              <span class="contactbar-search-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="col-xs-7">
            <ul class="contactbar-contacts">
              <li class="contactbar-contacts-item">
                СПб
                <a class="contactbar-contacts-link" href="tel:+78126557360">+7 (812) 655-73-60</a>
              </li>
              <li class="contactbar-contacts-item">
                Мск
                <a class="contactbar-contacts-link" href="tel:+74996493379">+7 (499) 649-33-79</a>
              </li>
              <li class="contactbar-contacts-item">
                <a class="contactbar-contacts-link" href="mailto:info@stroyprombeton.ru">
                  info@stroyprombeton.ru
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="page-category">

    <section class="breadcrumbs">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <a href="#" class="breadcrumbs-link">Главная</a> / 
            <a href="#" class="breadcrumbs-link">Каталог</a> /
            <a href="#" class="breadcrumbs-link">Дорожное строительство</a>
          </div>
        </div>
      </div>
    </section>

    <section class="category-header">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="category-header-h1">Дорожное строительство</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="category-search">
      <div class="container container-fluid">
        <div class="row center-xs">
          <div class="col-xs-4">
            <div class="contactbar-search">
              <input type="text" 
                     class="contactbar-search-field" 
                     placeholder="Поиск (по названию, артиклу, серии)">
              <span class="contactbar-search-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="category-content">
      <div class="container container-fluid">
        <div class="row">

          <div class="col-xs-2">
            <div class="category-filter">
              <ul class="category-order">
                <li class="category-order-item category-order-item-selected">
                  Упорядочить по имени
                  <i class="fa fa-arrow-down category-order-item-arrow" aria-hidden="true"></i>
                </li>
                <li class="category-order-item">
                  Упорядочить по серии 
                  <i class="fa fa-arrow-down category-order-item-arrow" aria-hidden="true"></i>
                </li>
              </ul>
              <div class="category-filter-title">Подкатегории</div>
              <ul>
                <li class="category-filter-item js-category-filter-item">
                <i class="category-filter-item-ico fa fa-square-o" aria-hidden="true"></i>
                  Платформы пассажирские низкие железобетонные. ТП 501-7-014.91
                </li>
                <li class="category-filter-item js-category-filter-item">
                <i class="category-filter-item-ico fa fa-square-o" aria-hidden="true"></i>
                  Лестничные марши, панели лестничного и перильного ограждения, 
                  ригеля, сваи-стойки, фундаменты. ТП 501-07-3.83, альбом 2
                </li>
                <li class="category-filter-item js-category-filter-item">
                <i class="category-filter-item-ico fa fa-square-o" aria-hidden="true"></i>
                  Блоки пролетного строения и шкафной стенки, насадки. 
                  ТП 3.014.1-2, выпуск 1
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-9">
            <table class="category-table js-category-table">
              <tr>
                <th class="category-table-th category-table-col-code">Код</th>
                <th class="category-table-th category-table-col-name">Наименование/марка</th>
                <th class="category-table-th category-table-col-price">Цена</th>
                <th class="category-table-th category-table-col-count">Кол-во</th>
                <th class="category-table-th category-table-col-order"></th>
              </tr>
              <tr class="category-table-space"></tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
              <tr class="js-category-table-tr">
                <td class="category-table-td category-table-col-code">1</td>
                <td class="category-table-td category-table-col-name">
                  Карнизная плита железобетонная ОЛ 42.10.8-Т
                </td>
                <td class="category-table-td category-table-col-price">по запросу</td>
                <td class="category-table-td category-table-col-count">
                  <div class="category-table-col-count-wrap">
                    <input class="category-table-col-count-input 
                                  js-category-table-col-count-input" 
                           type="number" 
                           min="1"
                           step="1" 
                           pattern="[0-9]*" 
                           value="1">
                    <i class="category-table-col-count-caret 
                              category-table-col-count-up 
                              js-category-table-col-count-up 
                              fa fa-caret-up" 
                       aria-hidden="true">
                    </i>
                    <i class="category-table-col-count-caret 
                              category-table-col-count-down 
                              js-category-table-col-count-down 
                              fa fa-caret-down" 
                       aria-hidden="true">
                    </i>
                  </div>
                </td>
                <td class="category-table-td category-table-col-order">
                  <span class="category-table-order js-category-table-order">Заказать</span>
                </td>
              </tr>
            </table>
            <div class="category-table-more">
              <div class="category-table-more-btn">
                Показать еще
                <div class="category-table-more-btn-arrow icon-arrow-down"></div>
                <div class="category-table-more-btn-arrow 
                            category-table-more-btn-arrow-hover 
                            icon-arrow-down-hover"></div>
                <div class="category-table-more-btn-arrow 
                            category-table-more-btn-arrow-active 
                            icon-arrow-down-active"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="category-about">
      <div class="container container-fluid">
        <div class="row middle-xs">
          <div class="col-xs-offset-1 col-xs-2">
            <div class="category-about-serial js-popover-trigger">
              СВ 95 - 2
              <div class="popover js-popover">
                Тут будет какое-то пояснение
                <div class="popover-arrow"></div>
              </div>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="category-about-text">

              <p>“СТК-ПромБетон” производит сборные железобетонные изделия для:<br /><br /></p>
              <ul>
                <li>низких и высоких пассажирских платформ;</li>
                <li>разгрузочных эстакад.</li>
              </ul>
              <p>
                Мы изготавливаем для железнодорожных платформ фундаменты,
                ригели, плиты, стойки. Для строительства эстакад - пролетные
                строения, фундаментные плиты и стаканы, стойки, блоки ФЛ и ФБС.
              </p>

            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <footer class="footer">
    <div class="container container-fluid">
      <div class="row">

        <div class="col-xs-offset-1 col-xs-2">
          <div class="footer-list">
            <h3 class="footer-list-h3">ЗАКАЗ</h3>
            <ul>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Как оформить</a>
              </li>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Доставка</a>
              </li>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Наши объекты</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="footer-list">
            <h3 class="footer-list-h3">КАТАЛОГ</h3>
            <ul>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Дорожное строительство</a>
              </li>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">
                  Общегражданское и&nbsp;промышленное строительство
                </a>
              </li>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Строительство инженерных сетей</a>
              </li>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Строительство энергетических объектов</a>
              </li>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Серии</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-2">
          <div class="footer-list">
            <h3 class="footer-list-h3">О КОМПАНИИ</h3>
            <ul>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Производство</a>
              </li>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Реквизиты</a>
              </li>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Региональные филиалы</a>
              </li>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Новости</a>
              </li>
              <li class="footer-list-item">
                <a class="footer-list-link" href="#">Контакты</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="footer-list footer-contacts">
            <ul class="vcard">
              <li class="footer-list-item footer-contacts-brand">
                <a href="#">
                  <img src="../front/build/images/logo-stk-prombeton.svg" alt="СТК-ПромБетон">
                </a>
              </li>
              <li class="footer-list-item tel">
                <span class="type">Санкт-Петербург</span> 
                <a class="footer-list-link value" href="tel:+78126557360">8 (812) 655-73-60</a>
              </li>
              <li class="footer-list-item tel">
                <span class="type">Москва</span> 
                <a class="footer-list-link value" href="tel:+74996493379">8 (499) 649-33-79</a>
              </li>
              <li class="footer-list-item footer-contacts-email email">
                <a class="footer-list-link" href="mailto:info@stroyprombeton.ru">
                  info@stroyprombeton.ru
                </a>
              </li>
              <li class="footer-list-item">
                Адрес офиса продаж:
              </li>
              <li class="footer-list-item">
                <address class="adr">
                  <span class="locality">СПб</span>, 
                  <span class="street-address">пр.&nbsp;Елизарова&nbsp;38А, офис&nbsp;218</span>
                </address>
              </li>
              <li class="footer-list-item">
                <span class="workhours">пн-пт 9:00-18:00</span>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="row footer-copy-row">
        <div class="col-xs-offset-1 col-xs-7">
          <div class="footer-copy">
            <p>
              <small class="footer-copy-rights">Все права защищены. 2009-2016 
              ООО&nbsp;<b class="footer-copy-bold">«СТК-ПромБетон»</b> 
              (Москва, Санкт-Петербург).</small>
            </p>
            <p>
              Делаем сложные магазины. 
              <a class="footer-copy-link" href="https://fidals.com">Fidals.com</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <script src="../front/build/js/vendors.min.js" defer></script>
  <script src="../front/build/js/main.min.js" defer></script>
  <script src="../front/build/js/pages.min.js" defer></script>

</body>
</html>
