<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>СТК-ПромБетон</title>
  <link rel="stylesheet" href="../front/build/css/styles.min.css">
</head>
<body>

  <header class="header">
    <nav class="navbar">
      <div class="container container-fluid">
        <div class="row between-xs">

          <div class="col-xs-3">
            <div class="navbar-brand"><a href="#"><img src="../front/build/images/stk-prombeton.png" alt="СТК-ПромБетон"></a></div>
          </div>

          <div class="col-xs-8">
            <ul class="navbar-nav">
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Заказ</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Каталог</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Серии</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Доставка</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Реквизиты</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link" href="#">Контакты</a></li>
              <li class="navbar-nav-item"><a class="navbar-nav-link navbar-nav-chart" href="#">Корзина</a></li>
            </ul>
          </div>

        </div>
      </div>
    </nav>

    <div class="contactbar">
      <div class="container container-fluid">

        <div class="row">
          <div class="col-xs-offset-1 col-xs-4 contactbar-search-wrap">
            <div class="contactbar-search">
              <input type="text" class="contactbar-search-field">
              <span class="contactbar-search-btn"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="col-xs-7">
            <ul class="contactbar-contacts">
              <li class="contactbar-contacts-item">СПб <a class="contactbar-contacts-link" href="tel:+78126557360">+7 (812) 655-73-60</a></li>
              <li class="contactbar-contacts-item">Мск <a class="contactbar-contacts-link" href="tel:+74996493379">+7 (499) 649-33-79</a></li>
              <li class="contactbar-contacts-item"><a class="contactbar-contacts-link" href="mailto:info@stroyprombeton.ru">info@stroyprombeton.ru</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="main">

    <section class="title">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="title-address">
              <p>Адрес офиса продаж:</p>
              <p>СПб, пр. Елизарова 38А, офис 218</p>
              <p>пн-пт 9:00-18:00</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="title-name">
              <h1 class="title-name-h1">«СТК-ПромБетон»</h1>
              <h2 class="title-name-h2">Завод железобетонных изделий </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-4 contactbar-search-wrap">
            <div class="contactbar-search">
              <input type="text" class="contactbar-search-field">
              <span class="contactbar-search-btn"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="col-xs-7">
            <ul class="contactbar-contacts">
              <li class="contactbar-contacts-item">СПб <a class="contactbar-contacts-link" href="tel:+78126557360">+7 (812) 655-73-60</a></li>
              <li class="contactbar-contacts-item">Мск <a class="contactbar-contacts-link" href="tel:+74996493379">+7 (499) 649-33-79</a></li>
              <li class="contactbar-contacts-item"><a class="contactbar-contacts-link" href="mailto:info@stroyprombeton.ru">info@stroyprombeton.ru</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="application">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-6">
            <div class="application-title">
              <p>Оставьте свою заявку, мы вам перезвоним, как только оператор будет свободен.</p>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="application-btn">
              <a href="#" class="btn btn-white js-btn-contact-us">Свяжитесь со мной</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="catalog">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="catalog-image"><img src="../front/build/images/catalog-prev.png" alt="Каталог ЖБИ"></div>
            <div class="catalog-btn">
              <a href="#" class="btn btn-catalog">Каталог ЖБИ</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="offer">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3">
            <a href="#" class="offer-element">
              <div class="offer-element-image">
                <div class="offer-element-image-variant offer-element-image-nohover icon-offer-draft"></div>
                <div class="offer-element-image-variant offer-element-image-hover icon-offer-draft-hover"></div>
              </div>
              <div class="offer-element-title">ЖБИ по вашим чертежам <i class="fa fa-angle-right offer-element-title-chevron" aria-hidden="true"></i></div>
            </a>
          </div>
          <div class="col-xs-offset-1 col-xs-2">
            <a href="#"  class="offer-element">
              <div class="offer-element-image">
                <div class="offer-element-image-variant offer-element-image-nohover icon-offer-pricelist"></div>
                <div class="offer-element-image-variant offer-element-image-hover icon-offer-pricelist-hover"></div>
              </div>
              <div class="offer-element-title">Прайс-листы  <i class="fa fa-angle-right offer-element-title-chevron" aria-hidden="true"></i></div>
            </a>
          </div>
          <div class="col-xs-offset-1 col-xs-3">
            <a href="#"  class="offer-element">
              <div class="offer-element-image">
                <div class="offer-element-image-variant offer-element-image-nohover icon-offer-compred"></div>
                <div class="offer-element-image-variant offer-element-image-hover icon-offer-compred-hover"></div>
              </div>
              <div class="offer-element-title">Коммерческое предложение  <i class="fa fa-angle-right offer-element-title-chevron" aria-hidden="true"></i></div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="container container-fluid">
        <div class="row middle-xs">
          <div class="col-xs-offset-1 col-xs-3">
            <h2 class="about-h2 main-h2">О компании</h2>
          </div>
          <div class="col-xs-7">
            <div class="about-text">
              <p class="about-text-p">Завод “СТК-ПромБетон” уже шесть лет производит железобетонные изделия. У нас более 12000 позиций. За счет использования легких конструкций из фанеры мы создаем практически любые виды изделий.</p>
              <p class="about-text-p">Предприятие “СТК-ПромБетон” занимает площадь в 0.35 га. Ежемесячный объем производства составляет более 1000 кубов (м3). За два года мы увеличили мощность завода в полтора раза. Так мы сократили время изготовления крупных и сезонных заказов.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10">
            <div class="about-more">
              <p><a class="more-link" href="#">Производство <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i></a></p>
              <p><a class="more-link" href="#">О заводе и партнерах <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="objects">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="objects-title"><h2 class="objects-title-h2 main-h2">Наши объекты</h2></div>
            <div class="objects-map">
              <img src="../front/build/images/map.svg" alt="Карта объектов">
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container container-fluid">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-3">

          <section class="partners">
            <h2 class="partners-h2 main-h2">Наши партнеры</h2>
            <ul>
              <li class="partners-item">
                <p><a href="#"><img src="../front/build/images/partner-stkmodul-logo.png" alt="СТК-Модуль"></a></p>
                <p class="partners-item-title">Нерудные материалы</p>
              </li>
              <li class="partners-item">
                <p><a href="#"><img src="../front/build/images/partner-modulenergo-logo.png" alt="Модуль энерго"></a></p>
                <p class="partners-item-title">Монтаж и&nbsp;строительство энергообъектов</p>
              </li>
              <li class="partners-item">
                <p><a href="#"><img src="../front/build/images/partner-stkmetall-logo.png" alt="СТК-Металл"></a></p>
                <p class="partners-item-title">Поставка металлоконструкций</p>
              </li>
            </ul>
          </section>

        </div>
        <div class="col-xs-7">

          <section class="news">
            <h2 class="news-h2 main-h2">Новости</h2>
            <ul>
              <li class="news-item">
                <a href="#">
                  <img src="../media/news/thumb-news-1.png" alt="Бетон" class="news-item-img">
                  <p class="news-item-title">Поставки изделий для строительства и реконструкции мостов</p>
                  <p class="news-item-short">В этом году наш завод в течение 1-го квартала активно работал по производству и поставке мостовых железобетонных конструкций по заказу нефтедобывающих компаний.</p>
                </a>
              </li>
              <li class="news-item">
                <a href="#">
                  <img src="../media/news/thumb-news-2.png" alt="Бетон" class="news-item-img">
                  <p class="news-item-title">Строительство пешеходного моста на ст. Шетпе Республика Казахстан</p>
                  <p class="news-item-short">ООО «СТК-ПромБетон» принял участие в производстве и поставке железобетонных изделий на строительство пешеходного моста на ст. </p>
                </a>
              </li>
            </ul>
            <div class="news-about"><a class="more-link" href="#">Все новости  <i class="fa fa-arrow-right more-link-arrow" aria-hidden="true"></i></a></div>
          </section>

        </div>
      </div>
    </div>

    <section class="reviews">
      <div class="container container-fluid">
        <div class="row middle-xs">
          <div class="col-xs-offset-1 col-xs-3">
            <h2 class="main-h2">Отзывы</h2>
          </div>
          <div class="col-xs-6">
            <ul class="reviews-content">
              <li class="reviews-content-item js-reviews-content-item">
                <p class="reviews-content-item-title">СТК-Модуль 1</p>
                <p>«Тут можно разместить какую-то выборочную цитату из благодарственного письма, а само письмо открывать по клику на цитату, либо по кнопке.»</p>
              </li>
              <li class="reviews-content-item js-reviews-content-item">
                <p class="reviews-content-item-title">СТК-Модуль 2</p>
                <p>«Тут тоже можно разместить какую-то выборочную цитату из благодарственного письма, а само письмо открывать по клику на цитату, либо по кнопке.»</p>
              </li>
              <li class="reviews-content-item js-reviews-content-item">
                <p class="reviews-content-item-title">СТК-Модуль 3</p>
                <p>«И тут можно разместить какую-то выборочную цитату из благодарственного письма, а само письмо открывать по клику на цитату, либо по кнопке.»</p>
              </li>
            </ul>
            <div class="reviews-nav">
              <div class="reviews-nav-item js-reviews-nav-item reviews-nav-item-active" data-slide-to="0"></div>
              <div class="reviews-nav-item js-reviews-nav-item" data-slide-to="1"></div>
              <div class="reviews-nav-item js-reviews-nav-item" data-slide-to="2"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-4 col-xs-7">
            <div class="reviews-more">
              <p><a class="more-link" href="#">Благодарственное письмо <i class="fa fa-arrow-down more-link-arrow" aria-hidden="true"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-us">
      <div class="container container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="contact-us-btn">
              <a href="#" class="btn js-btn-contact-us">Cвяжитесь со мной</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <footer class="footer">
    <div class="container container-fluid">
      <div class="row">

        <div class="col-xs-offset-1 col-xs-2">
          <div class="footer-list">
            <h3 class="footer-list-h3">ЗАКАЗ</h3>
            <ul>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Как оформить</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Доставка</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Наши объекты</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="footer-list">
            <h3 class="footer-list-h3">КАТАЛОГ</h3>
            <ul>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Дорожное строительство</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Общегражданское и&nbsp;промышленное строительство</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Строительство инженерных сетей</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Строительство энергетических объектов</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Серии</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-2">
          <div class="footer-list">
            <h3 class="footer-list-h3">О КОМПАНИИ</h3>
            <ul>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Производство</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Реквизиты</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Региональные филиалы</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Новости</a></li>
              <li class="footer-list-item"><a class="footer-list-link" href="#">Контакты</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="footer-list footer-contacts">
            <ul class="vcard">
              <li class="footer-list-item footer-contacts-brand"><a href="#"><img src="../front/build/images/logo-stk-prombeton.svg" alt="СТК-ПромБетон"></a></li>
              <li class="footer-list-item tel"><span class="type">Санкт-Петербург</span> <a class="footer-list-link value" href="tel:+78126557360">8 (812) 655-73-60</a></li>
              <li class="footer-list-item tel"><span class="type">Москва</span> <a class="footer-list-link value" href="tel:+74996493379">8 (499) 649-33-79</a></li>
              <li class="footer-list-item footer-contacts-email email"><a class="footer-list-link" href="mailto:info@stroyprombeton.ru">info@stroyprombeton.ru</a></li>
              <li class="footer-list-item">Адрес офиса продаж:</li>
              <li class="footer-list-item"><address class="adr"><span class="locality">СПб</span>, <span class="street-address">пр.&nbsp;Елизарова&nbsp;38А, офис&nbsp;218</span></address></li>
              <li class="footer-list-item"><span class="workhours">пн-пт 9:00-18:00</span></li>
            </ul>
          </div>
        </div>

      </div>

      <div class="row footer-copy-row">
        <div class="col-xs-offset-1 col-xs-7">
          <div class="footer-copy">
            <p><small class="footer-copy-rights">Все права защищены. 2009-2016 ООО&nbsp;<b class="footer-copy-bold">«СТК-ПромБетон»</b> (Москва, Санкт-Петербург).</small></p>
            <p>Делаем сложные магазины. <a class="footer-copy-link" href="https://fidals.com">Fidals.com</a></p>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <div class="modal js-modal container container-fluid">
    <div class="modal-row row middle-xs center-xs">
      <div class="col-xs-6">
        <div class="modal-call">

          <h3 class="modal-h3">Заказ обратного звонка</h3>
          <form action="">
            <div class="modal-line">
              <span class="modal-line-label">Имя</span>
              <input class="modal-line-input" type="text">
              <i class="fa fa-check modal-line-status modal-line-status-check" aria-hidden="true"></i>
              <i class="fa fa-times modal-line-status modal-line-status-fail" aria-hidden="true"></i>
            </div>
            <div class="modal-line">
              <span class="modal-line-label">Телефон <span class="modal-line-label-asterisk">*</span></span>
              <input class="modal-line-input" type="text">
              <i class="fa fa-check modal-line-status modal-line-status-check" aria-hidden="true"></i>
              <i class="fa fa-times modal-line-status modal-line-status-fail" aria-hidden="true"></i>
            </div>
            <div>
              <input type="submit" class="btn modal-btn" value="Отправить">
            </div>
          </form>
          <i class="fa fa-close modal-close js-modal-close" aria-hidden="true"></i>
          
        </div>
      </div>
    </div>
  </div>

  <script src="../front/build/js/vendors.min.js" defer></script>
  <script src="../front/build/js/main.min.js" defer></script>

</body>
</html>
